* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

.navbar {
  --color-one: #010b49;
  --color-two: #0b69b2;
  --color-three: #82c1f0;
  --color-four: #b075a6;
  position: fixed;
  background-image: linear-gradient(to right, var(--color-one), var(--color-two), var(--color-three), var(--color-four));
  width: 100%;
  top: 0;
  z-index: 999;
  transition: .3s linear;
}

.inner-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

.navbar .inner-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .inner-width .logo {
  width: 200px;
}

.navbar .inner-width .logo img {
  width: 100%;
  height: 100%;
}


.menu-toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}

